* {
    margin: 0;
    padding: 0;
}

.navbarMain {
    height: 55px;
    background: linear-gradient(-135deg, #390536, #3e0646);
    color: white;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-left: 0;
}

.name {
    float: left;
}

.sign {
    width: 35%;
    float: right;
}

.profile {
    display: inline-block;
    margin-right: 20px;
}

.button {
    display: inline-block;

}

p {
    display: inline-block;
}

button {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    padding: 5px;
    border: 0;
    border-radius: 8px;
}

a {
    text-decoration: none;
    padding: 15px;
    color: white;
}